@charset "utf=8";

/* body. */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5em;
}

.inner {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* header.    */
.header {
    text-align: center;
}

/* news.    */

.news_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 20%;
}

.news_title {
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 20px;
    margin-top: 60px;
}

.news_categoly {
    font-size: 12px;
    color: #FA6980;
    font-style: italic;
    margin-bottom: 10px;
}

.news_subtitle {
    font-weight: bold;
    font-size: 18px;
    color: #202124;
    margin-bottom: 10px;
}

.about .news_subtitle {}

.news_text {
    color: #888888;
    margin-bottom: 10px;
}

.time {
    color: #BBBBBB;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    column-gap: 2%;
}

.news_btn {
    text-align: right;
}


/* trending.    */
.trending {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}

.trending_title {
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 20px;
}

.trending_block {
    background-color: #fff;
}

.trending_subtitle {
    font-weight: bold;
    font-size: 18px;
    color: #202124;
    margin-bottom: 10px;
}

.trending_text {
    color: #888888;
    margin-bottom: 10px;
}

.trending_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.trending_about {
    padding: 35px;
}

.trending img {
    width: 100%;
}

.trending_btn {
    text-align: right;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 160px;
    font-size: 12px;
    background-color: #FA6980;
    color: #fff;
    padding: 14px 43px;
}

/* footer.   */
.footer {
    padding: 100px 0 40px;
    background-color: #202124;
}

.footer_copy {
    color: #BBBBBB;
}

/* about. */
.about_column {
    display: grid;
    row-gap: 30%;
}

.about_news {
    margin-bottom: 100px;
}

.about_news .btn {
    display: inline-block;
    text-align: center;
    width: 160px;
    font-size: 12px;
    background-color: #202124;
    color: #fff;
    padding: 14px 43px;
}

.news_btn {
    text-align: right;
}

/* discovery.  */
.discovery {
    padding: 60px 0;
    background-color: #F6F6F6;
}

.discovery_title {
    font-weight: bold;
    font-size: 18px;
    color: #202124;
    margin-bottom: 20px;
}

.about .trending_column {
    grid-template-columns: 1fr 1fr 1fr;
}